.playlist {
    border: solid 1px grey;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    padding: 8px;
}

.focused {
    background-color: #E4FFD1;
}

.playlist_song-container {
    margin: 0 32px;
}

.checkbox {
    margin-right: 8px;
}

.playlist_song {
    margin-bottom: 8px;
    border-bottom: solid 1px whitesmoke;
    &:first-child {
        margin-top: 16px;
    }
}

.scroll-container {
    overflow-y: scroll;
    max-height: 60vh;
    padding-right: 16px;
    padding-top: 0px;
}

.options {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
}

.artist {
    border: 1px solid grey;
    border-radius: 8px;
    padding: 4px 8px;
    margin-bottom: 4px;
}

.artist-container {
    margin-top: 16px;
    margin-bottom: 16px;
}

.track-list {
    margin: 8px;
}

.song {
    margin-bottom: 4px;
    &:last-child {
        margin-bottom: 0px;
    }
}